<div class="container">
  <div class="header">
    <div class="logo">
      <img width="136"
      src="../assets/images/ampleLogic.png" alt="AmpleLogic Logo">
    </div>
    <div class="menu">
      <div class="menu-item">
        <div class="icon">
          <span class="org-icon"></span>
        </div>
        <div class="text">Organization Structure</div>
        <div class="arrow-icon"></div>
      </div>
      <div class="menu-item">
        <div class="icon">
          <span class="config-icon"></span>
        </div>
        <div class="text">Configurations</div>
        <div class="arrow-icon"></div>
      </div>
      <div class="menu-item">
        <div class="icon">
          <span class="report-icon"></span>
        </div>
        <div class="text">Reports</div>
        <div class="arrow-icon"></div>
      </div>
      <div class="menu-item">
        <div class="icon">
          <span class="etl-icon"></span>
        </div>
        <div class="text">ETL</div>
        <div class="arrow-icon"></div>
      </div>
    </div>
    <div class="icons" style="margin-inline-start: auto;">
      <div class="region-icon"></div>
      <div class="notification-icon"></div>
      <div class="logged-icon"></div>
    </div>
  </div>
  
  <div class="main-section">
    <button class="start-button" (click)="startProgressBar()">Start</button>
  </div>
  
  <div class="footer">
    <div class="logo">
      <img width="136"
      src="../assets/images/ampleLogic.png" alt="AmpleLogic Logo">
    </div>
    <div class="center-content">Copyrights &copy; 2010-2023 Amplelogic | All Rights Reserved</div>
    <div class="version">v3.1.0</div>
  </div>
  <div class="progress-box" *ngIf="showProgressBar">
    <div class="toggle" (click)="toggleProgress=!toggleProgress">
      <span class="arrow-down-icon" *ngIf="toggleProgress"></span>
      <span class="arrow-up-icon" *ngIf="!toggleProgress"></span>
    </div>
    <div class="migrate-container" *ngIf="toggleProgress">
      <div class="migrate-logo">
        <span class="rocket-icon"></span>
      </div>
      <div class="right-indicator"></div>
      <div class="progress-bar">
        <div class="data">
          <div class="text">Migrating Data to selected environment</div>
          <div class="dynamic-value">{{progressValue + '%'}}</div>
        </div>
        <mat-progress-bar style="width: 100%" mode="determinate" [color]="color" [value]="progressValue"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>