.message-container {
    display: flex;
    padding: 10px;
    background-color: green;
}
.check-icon {
    background: url("../../assets/icons/check.svg") no-repeat;
    height: 40px !important;
    width: 40px !important;
    line-height: 1em;
    margin: 0px 5px;
    display: inline-block;
    background-size: cover !important;
    background-position: center !important;
    object-fit: cover;
    border-radius: 50%;
}
.data-content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.close-icon {
    background: url("../../assets/icons/close.svg") no-repeat;
    height: 24px !important;
    width: 24px !important;
    line-height: 1em;
    margin: 0px 5px;
    display: inline-block;
    background-size: cover !important;
    background-position: center !important;
    object-fit: cover;
    border-radius: 50%;
}
